# --- LLM CONFIGURATION ---
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL_NAME=llama-4-scout-17b-16e-instruct

# --- VECTOR DATABASE (LOCAL) ---
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=your_qdrant_api_key_here

# --- SECURITY & AUTH (RBAC) ---
JWT_SECRET=your_generated_jwt_secret
ALGORITHM=HS256

# --- APP SETTINGS ---
LOG_LEVEL=INFO